# üìò **Chapter 1: Introduction to Programming**

## üîπ What is Programming?

- **Programming is about communicating with a computer.**  
- Just like you need **German** to talk in Germany, or **French** in France,  
  you need a **programming language** to talk to a computer.

üì¶ **Key Point:**  
To communicate with a computer ‚Üí you must learn a programming language.

---

## üîπ Why Python?

- **Widely spoken** (most popular today).  
- **Easy to learn** (compared to C, C++, Pascal, COBOL).  
- **Powerful** (can do complex tasks with minimal code).

üì¶ **Python Advantage:**  
- Simple syntax  
- Beginner-friendly  
- Used in **AI, ML, Data Science, Web Development, Automation** etc.  

---

## üîπ Programming is Fun üéâ

- Lets you make the computer do **complex things really fast**.  
- What humans do in hours ‚Üí computer does in **milliseconds**.  

üì¶ **Essence of Programming:**  
1. Talk to the computer  
2. Make it do complex tasks  
3. Achieve results **very fast**

# üñ®Ô∏è The `print()` Command & Comments in Python

## üîπ `print()` Command
- **Used to display output** on the screen.  
- Syntax:  
  ```python
  print("Hello, World!")

You can print:
- **Strings** ‚Üí print("Python is fun")
- **Numbers** ‚Üí print(123)
- **Expressions** ‚Üí print(2 + 3)

##üîπ `Comments` in python

**Comments** are ignored by Python ‚Üí used only for explanations.

`1.` **Single-line comment** ‚Üí #....

`2.` **Multi-line comment** ‚Üí triple quotes """ ... """

üì¶ **Key Point:**
- Comments make code readable for humans, but are ignored by the computer.
- Comments are the part of programming that **will not execute.**

In [ ]:
# print command

# can use double quotes as well as single quotes

print("Hello World")   # Double Quotes

print('Hello India')   # Single Quotes

#String
print("Python is fun")

#Number
print(123)

#Expressions
print(2 + 3)

Hello World
Hello India
Python is fun
123
5

In [ ]:
# Comments

# This is Single Line Comment

"""
This is a
multi-line comment
"""

'\nThis is a\nmulti-line comment\n'

- **Triple quotes (""" ... """)** are not technically **comments**, they are **multi-line strings.**

- If you just write them in your code without assigning them to a variable, **Python doesn‚Äôt display anything** when running the script in most cases.

- But if you use **print()** on them or check the output in some environments (like notebooks), Python treats it as a string literal, which is why you see:

**Output:**

` '\nThis is a \nmulti-line comment\n' `

üì¶**Key Point:**

- For **real comments** that are ignored by Python, **always use #.**

- **Triple quotes** are mainly for **docstrings** or **storing multi-line strings.**

In [ ]:
# Single-line comment
print("Hello")  # This is a comment

print("""
This is a docstring / multi-line string
It is not ignored if you try to print or display it
""")

Hello

This is a docstring / multi-line string
It is not ignored if you try to print or display it

In [ ]:
# Printing Star Pattern

print("*")
print("**")
print("***")
print("****")
print("*****")
print("******")
print("*******")
print("********")

*
**
***
****
*****
******
*******
********

In [ ]:
# Printing Star Pattern in reverse order

print("  *")  # 2 Space + *
print(" **")  # 1 Space + **
print("***")  # 0 Space + ***

  *
 **
***

In [ ]:
# combining two string
print('Hello','World')

# The + operator is also used to join strings together.

# without giving space
print('Hi' + 'India' + 'Namaste')

# With giving space(empty string)
print('Hi'+' India'+' Namaste')

Hello World
HiIndiaNamaste
Hi India Namaste

In [ ]:
# print('Hi',' Harsh', sep='India', end='India')

print('Hi',' Harsh!',' How are you ?')

print(10)

print(20.5)

# print command is used to print multiple messages/value at same time
# allows us to print string, Whole Number as well as Fractional number
print('Hello India', ' Namaste', 10, 20.5)

Hi  Harsh!  How are you ?
10
20.5
Hello India  Namaste 10 20.5

# **Chapter 2:üîë Variables in Python**

## üîπ What is a Variable?
- A **variable** is a name given to store data in memory.  
- It acts like a **container** that holds values.  

Example:
```python
x = 10
name = "Harsh"

## **üîπ Rules for Variables**
- Must begin with a **letter** or an **underscore (`_`)**.  
- Cannot start with a **number**.  
- Can only contain **letters, numbers, and underscores**.  
- **Case-sensitive** ‚Üí `age` and `Age` are different.  
- Avoid using **reserved keywords** (like `for`, `if`, `class`).  

üì¶ **Example of Valid Variables:**  
`x, name, age_21, _value`  

üì¶ **Invalid Variables:**  
`21age, my-name, class`

---

## **üîπ Variable Types (Dynamic Typing)**
- In Python, you don‚Äôt need to **declare the type explicitly**.  
- The type is decided automatically at **runtime**.  

üì¶ **Key Point:**
- Python is dynamically typed ‚Üí No need to declare type before using a variable.

```python
a = 5        # integer
b = 3.14     # float
c = "Hello"  # string

In [ ]:
a = 10    # a is a variale ----> value 10 assigned to variable a
print(a)

b = 20    # b is a variable
print(b)

print(a + b)

print(a * b)

a = a + 1  # add 1 in existing value of a then assign (a + 1) to a
print(a)

# increament in Computer Science
a += 1
print(a)

10
20
30
200
11
12

In [ ]:
# Valid Variables
x = 10
name = "Harsh"
age_21 = 21
_value = 99

print(x, name, age_21, _value)

# Checking types
a = 5
b = 3.14
c = "Hello"

print(type(a))  # int
print(type(b))  # float
print(type(c))  # str

# ‚ùå Invalid variable examples (will give error if uncommented)
# 21age = 25
# my-name = "Harsh"
# class = "CS"

10 Harsh 21 99
<class 'int'>
<class 'float'>
<class 'str'>

In [ ]:
# input() ----> input command is used to take input from the user

print('Enter a number:')

n = int(input())
# int is a datatype of user's input
# int convert the user's input in to integer

print(n)

print(n + 3)

Enter a number:
7
7
10

In [ ]:
print("Hello, Enter Your Name")
name = str(input())    # str (string) is a datatype of user's input
print("Hello", name,"!")

print("Which Place are you in ?")
place = str(input())
print("Hello", name,",","How is the weather in", place, "?")

Hello, Enter Your Name
Harsh
Hello Harsh !
Which Place are you in ?
Shillong
Hello Harsh , How is the weather in Shillong ?

In [ ]:
print("Enter Your age")
age = int(input())
print("Good to know you are", age, "years old.")

Enter Your age
20
Good to know you are 20 years old.

In [ ]:
name = str(input('Enter Your Name: '))
place = str(input('Type your location: '))
age = int(input('Enter your age: '))

print("Hello", name,"!")
print("Hello", name,",","How is the weather in", place, "?")
print("Good to know you are", age, "years old.")

# name, place, age ----> it is a variable, you can change the value of variable
# variable is like a container, where we can store different value

Enter Your Name: Harsh
Type your location: Shillong
Enter your age: 20
Hello Harsh !
Hello Harsh , How is the weather in Shillong ?
Good to know you are 20 years old.

## **üîπ Literals**
- **Literals** are **fixed values** assigned to variables.  
- They represent **constant data** that doesn‚Äôt change.

### üßÆ Types of Literals:
1. **Numeric Literals** ‚Äì Integers, Floats, Complex numbers  
   - Example: `10`, `3.14`, `2 + 3j`
2. **String Literals** ‚Äì Text enclosed in quotes  
   - Example: `"Hello"`, `'Python'`
3. **Boolean Literals** ‚Äì Represent truth values  
   - Example: `True`, `False`
4. **Special Literal** ‚Äì `None` represents absence of value
5. **Collection Literals** ‚Äì Data structures like  
   - **List:** `[1, 2, 3]`  
   - **Tuple:** `(4, 5, 6)`  
   - **Dictionary:** `{"name": "Harsh", "age": 20}`  
   - **Set:** `{1, 2, 3}`

üì¶ **Key Point:**  
Literals are **constant values**, whereas **variables** are names that store those values.

In [ ]:
name = "Ram"
name = "Lakshman" # change the value of name Ram to Lakshman
name = "Ram"      # again update the value of name Lakshman to Ram

age = 20
age = 25

# Here, name and age are variables whereas Ram, Lakshman, 20, 25 are Literals

# Literals are the actual values which are stored inside a variable.
# Variable can store different Literals Value

age = age + 1   # variable can be used on either sides of the symbol equal to.
# ‚ùå 25 = 25 + 1 -------> literals can be used only on the right hand side of the equal to sign

print(name)
print(age)

Ram
26

In [ ]:
# When we use variable and when Literals ?

radius = int(input('Enter the radius of a circle: '))
area = 3.14 * radius ** 2   # 3.14 * radius * radius

print('The area of the circle is:', area)

# we use radius & area as a variable but value of pi(3.14) as a literal

Enter the radius of a circle: 7
The area of the circle is: 154.0

In [ ]:
# Variables
x = 10
name = "Harsh"
pi = 3.14
is_student = True

print(x, name, pi, is_student)

# Checking variable types
print(type(x))
print(type(name))
print(type(pi))
print(type(is_student))

# Literals Examples
num = 25              # Numeric literal
float_num = 12.5      # Float literal
complex_num = 2 + 3j  # Complex literal
string = "Python"     # String literal
boolean = False       # Boolean literal
none_value = None     # Special literal

print(num, float_num, complex_num, string, boolean, none_value)

# Collection Literals
list_ex = [1, 2, 3]
tuple_ex = (4, 5, 6)
dict_ex = {"name": "Harsh", "age": 20}
set_ex = {7, 8, 9}

print(list_ex)
print(tuple_ex)
print(dict_ex)
print(set_ex)

10 Harsh 3.14 True
<class 'int'>
<class 'str'>
<class 'float'>
<class 'bool'>
25 12.5 (2+3j) Python False None
[1, 2, 3]
(4, 5, 6)
{'name': 'Harsh', 'age': 20}
{8, 9, 7}

# **üß† Chapter 3: Data Types in Python**

## üîπ What are Data Types?
- **Data Type** defines the type of value a variable can hold.  
- Python automatically detects the data type when you assign a value (Dynamic Typing).  
- It helps the interpreter know **what kind of operations** can be performed on the data.

üì¶ **Key Point:**  
Python is **dynamically typed** ‚Üí You don‚Äôt need to declare the type explicitly.

---

## üîπ Built-in Data Types in Python

| Category | Data Types | Example |
|-----------|-------------|----------|
| Numeric | `int`, `float`, `complex` | `10`, `3.14`, `2 + 3j` |
| Sequence | `str`, `list`, `tuple`, `range` | `"Hello"`, `[1,2]`, `(3,4)`, `range(5)` |
| Mapping | `dict` | `{"name": "Harsh", "age": 20}` |
| Set | `set`, `frozenset` | `{1,2,3}` |
| Boolean | `bool` | `True`, `False` |
| Binary | `bytes`, `bytearray`, `memoryview` | `b'abc'` |

---

## üîπ 1. Numeric Data Types
- **int** ‚Üí Integer values ‚Üí `a = 10`  
- **float** ‚Üí Decimal values ‚Üí `b = 3.14`  
- **complex** ‚Üí Numbers with real and imaginary parts ‚Üí `c = 2 + 3j`

üì¶ **Note:** You can perform mathematical operations using these types.

---

## üîπ 2. String Data Type (`str`)
- A **sequence of characters** enclosed in quotes.  
- Strings are **immutable** (cannot be changed once created).  

Example: `"Harsh"`, `'Python'`

üì¶ **Access characters:**  
Use **indexing** ‚Üí `name[0]` gives first character.

---

## üîπ 3. List Data Type
- Ordered, **mutable** (can be changed), allows **duplicates**.  
Example: `[1, 2, 3, "Python"]`  

üì¶ **Lists can store different data types.**

---

## üîπ 4. Tuple Data Type
- Ordered, **immutable** (cannot be changed), allows **duplicates**.  
Example: `(10, 20, 30)`

üì¶ **Used for fixed data that should not change.**

---

## üîπ 5. Dictionary Data Type (`dict`)
- **Key‚ÄìValue pairs** enclosed in `{}`.  
Example: `{"name": "Harsh", "age": 20}`  

üì¶ **Keys must be unique** and **immutable**.

---

## üîπ 6. Set Data Type
- **Unordered**, **unique elements only**.  
Example: `{1, 2, 3, 4}`  

üì¶ **Automatically removes duplicates.**

---

## üîπ 7. Boolean Data Type
- Represents **truth values** ‚Üí `True` or `False`.  
- Used in conditional statements.  

Example:  
```python
is_coding_fun = True
print(is_coding_fun)

### **üß† type() Function in Python**

üîπ **The type()** function is used to **determine the data type** of any variable or value.

üîπ It helps to identify whether a **variable belongs to int, float, str, bool, list, tuple, complex, etc.**

üîπ It returns the **class/type** of the **object passed** to it.

üîπ Syntax: type(object)

üì¶ **Example:**

If you pass a variable to type(), it will return its data type such as:

```
<class 'int'> for integers

<class 'float'> for floating-point numbers

<class 'str'> for strings

<class 'bool'> for Boolean values
```

**üìò Use:**

It is commonly used for debugging or verifying data types during program execution.

In [ ]:
n = 10
print(n)

r = 6.3
print(r)

s = 'Harsh Kumar'
print(s)

print("n is of type:", type(n))   # Output: <class 'int'>
print("r is of type:", type(r))   # Output: <class 'float'>
print("s is of type:", type(s))   # Output: <class 'str'>

10
6.3
Harsh Kumar
n is of type: <class 'int'>
r is of type: <class 'float'>
s is of type: <class 'str'>

In [ ]:
# python follows 0-based indexing
l = [10, 20, 30]

print(l)
print(type(l))   # Output: <class 'list'>

print(l[0])
print(l[1])
print(l[2])

print(type(l[2]))  # Output: <class 'int'>

[10, 20, 30]
<class 'list'>
10
20
30
<class 'int'>

In [ ]:
c = 3 + 4j
print(type(c))      # Output: <class 'complex'>

# T & F should be in capital in True and False
b1 = True
b2 = False

print(b1)
print(type(b2))   # Output: <class 'bool'>

<class 'complex'>
True
<class 'bool'>

### üîÑ **Data Conversion (Type Casting) in Python**

üìò **Definition:**  
Changing one data type into another is called **Type Casting** or **Type Conversion**.

---

### üîπ **Types of Conversion**

1. **Implicit Conversion (Automatic)**  
   - Done automatically by Python.  
   - Converts smaller data type ‚Üí larger data type to avoid data loss.  

   üì¶ *Example:*  
   ```python
   x = 5      # int  
   y = 2.5    # float  
   z = x + y  # int ‚Üí float automatically  
   print(z)   # 7.5  
   print(type(z))  # <class 'float'> ```


### üî∏ **Explicit Conversion (Manual)**

**Definition:**  
Done manually using type conversion functions.

üìò **Common Functions:**

- `int()` ‚Üí converts to integer  
- `float()` ‚Üí converts to float  
- `str()` ‚Üí converts to string  
- `bool()` ‚Üí converts to boolean  

üì¶ *Example:*  
```python
a = "100"
b = int(a)
print(b + 10)

In [ ]:
a = int(5.7)    # 5.7 ---> float  --convert float to int-- int(5.7) ---> convert to 5
b = int('10')   # here, 10 is a string

print(a, type(a))
print(b, type(b))

print('Sum of a + b is: ', a + b)

5 <class 'int'>
10 <class 'int'>
Sum of a + b is:  15

In [ ]:
a = float(9)        # convert 9(int) to float (9.0)
b = float('5.3')    # convert 5.3(str) to float (5.3)

print(a, type(a))
print(b, type(b))

9.0 <class 'float'>
5.3 <class 'float'>

In [ ]:
a = str(9)     # convert integer to string
b = str(5.3)   # convert integer to float

print(a, type(a))
print(b, type(b))

print(a + b)

9 <class 'str'>
5.3 <class 'str'>
95.3

In [ ]:
# conversion of integer to boolean

# convert all value except 0, to true
# convert 0 to false

a = bool(10)
b = bool(0)
c = bool(-10)

print(a, type(a))   # Output: True
print(b, type(b))   # Output: False
print(c, type(c))   # Output: True

True <class 'bool'>
False <class 'bool'>
True <class 'bool'>

In [ ]:
# conversion of float to boolean

# convert all value except 0.0, to true
# convert 0.0 to false

a = bool(10.5)
b = bool(0.0)
c = bool(-10.4)

print(a, type(a))   # Output: True
print(b, type(b))   # Output: False
print(c, type(c))   # Output: True

True <class 'bool'>
False <class 'bool'>
True <class 'bool'>

In [ ]:
# conversion of String to boolean

# convert all value of string except empty string, to true
# convert empty string('') to false

a = bool('india')
b = bool('10')
c = bool('0')
d = bool('-10.4')
e = bool('')

print(a, type(a))   # Output: True
print(b, type(b))   # Output: True
print(c, type(c))   # Output: True
print(d, type(d))   # Output: True
print(e, type(e))   # Output: False

True <class 'bool'>
True <class 'bool'>
True <class 'bool'>
True <class 'bool'>
False <class 'bool'>

# **Chapter 4: ‚öôÔ∏è Operators and Expressions in Python**

**Definition:**  
Operators are special symbols that perform operations on variables and values.  
An **expression** is a combination of variables, constants, and operators that produces a result.

---

### üîπ **Types of Operators:**

1. **Arithmetic Operators:** `+`, `-`, `*`, `/`, `//`, `%`, `**`  
   ‚û§ Used for mathematical calculations.  

2. **Relational (Comparison) Operators:** `==`, `!=`, `>`, `<`, `>=`, `<=`  
   ‚û§ Used to compare values and return `True` or `False`.  

3. **Logical Operators:** `and`, `or`, `not`  
   ‚û§ Used to combine conditional statements.  

4. **Assignment Operators:** `=`, `+=`, `-=`, `*=`, `/=`  
   ‚û§ Used to assign and update variable values.  

5. **Bitwise Operators:** `&`, `|`, `^`, `~`, `<<`, `>>`  
   ‚û§ Used to perform operations on binary data.  

6. **Membership Operators:** `in`, `not in`  
   ‚û§ Check if a value exists in a sequence.  

7. **Identity Operators:** `is`, `is not`  
   ‚û§ Compare memory locations of objects.

---

üì¶ *Example:*  
```python
a = 10
b = 5
result = (a + b) * 2
print(result)  # Output: 30

### **‚öñÔ∏è Operator Precedence in Python**

**Definition:**  
Operator precedence determines the order in which operations are performed in an expression.  
Operators with higher precedence are evaluated first.

---

### üîπ Order of Precedence (Highest ‚Üí Lowest)

| Precedence | Operator(s) | Description |
|-------------|--------------|-------------|
| 1 | `()` | Parentheses (used to override precedence) |
| 2 | `**` | Exponentiation |
| 3 | `+x`, `-x`, `~x` | Unary plus, minus, bitwise NOT |
| 4 | `*`, `/`, `//`, `%` | Multiplication, Division, Floor Division, Modulus |
| 5 | `+`, `-` | Addition, Subtraction |
| 6 | `<<`, `>>` | Bitwise Shift Operators |
| 7 | `&` | Bitwise AND |
| 8 | `^`, `|` | Bitwise XOR, Bitwise OR |
| 9 | `<`, `<=`, `>`, `>=`, `==`, `!=` | Comparison Operators |
| 10 | `not` | Logical NOT |
| 11 | `and` | Logical AND |
| 12 | `or` | Logical OR |
| 13 | `=`, `+=`, `-=`, `*=`, `/=`, `//=`, `%=`, `**=` | Assignment Operators |

---

**Example:**
```python
result = 10 + 2 * 3   # Multiplication done first ‚Üí 10 + 6 = 16
print(result)

In [ ]:
n = 3 * 2.6
print(n)       # Output: 7.800000000000001

# concatenation of string
a = 'Hello,'
b = 'Harsh!'
print(a + b)   # Output: Hello,Harsh!

7.800000000000001
Hello,Harsh!

In [ ]:
# Union : put htem together

a = [1, 2, 3]
b = [7, 8, 9]

print(a + b)   # union of list

[1, 2, 3, 7, 8, 9]

In [ ]:
a = 11
b = 15
print(a / b)

0.7333333333333333

In [ ]:
n = 10 + 13 * 2
# 1st priority given to multiplication due to operator precedence
# 13 * 2 = 26 -----> 10 + 26 = 36

print(n)

36

In [ ]:
n = ((10 + 13) * 2)
# here 1st priority given to bracket
# 10 + 13 = 23 -----> 23 * 2 = 46

print(n)

46

In [ ]:
#Arithmetic (+, -, *, /, //, %, **)

print('Addition', 2 + 3)
print('Subtraction', 9 - 1)
print('Multiplication', 5 * 4)
print('Division', 7 / 3)

print('Floor division', 7 // 3)  # gives quotient

print('Modulus', 7 % 3)          # gives remainder

print('Exponentiation', 6 ** 2)  # calculate 6 * 6 (means 6 to the power 2)

Addition 5
Subtraction 8
Multiplication 20
Division 2.3333333333333335
Floor division 2
Modulus 1
Exponentiation 36

In [ ]:
# Relational (>, <, >=, <=, ==, !=)
# Output of Relational Operator is always going to be boolean value

# Less than (shown in the image)
print('5 < 10:', 5 < 10)     # True
print('10 < 5:', 10 < 5)     # False

# Greater than
print('10 > 5:', 10 > 5)     # True
print('5 > 10:', 5 > 10)     # False

# Less than or equal to
print('5 <= 5:', 5 <= 5)     # True
print('6 <= 5:', 6 <= 5)     # False

# Greater than or equal to
print('5 >= 5:', 5 >= 5)     # True
print('4 >= 5:', 4 >= 5)     # False

# Equal to
print('5 == 5:', 5 == 5)     # True
print('5 == 6:', 5 == 6)     # False

# Not equal to
print('5 != 6:', 5 != 6)     # True
print('5 != 5:', 5 != 5)     # False

5 < 10: True
10 < 5: False
10 > 5: True
5 > 10: False
5 <= 5: True
6 <= 5: False
5 >= 5: True
4 >= 5: False
5 == 5: True
5 == 6: False
5 != 6: True
5 != 5: False

In [ ]:
#logical (and, or, not)
# Output of Logical Operator is always going to be boolean value

# 'and' operator (True if both are True)
print(True and True)    # Output: True
print(True and False)   # Output: False
print(False and True)   # Output: False
print(False and False)  # Output: False

# 'or' operator (True if at least one is True)
print(True or True)     # Output: True
print(True or False)    # Output: True
print(False or True)    # Output: True
print(False or False)   # Output: False

# 'not' operator (Inverts the Boolean value)
print(not True)         # Output: False
print(not False)        # Output: True

print(not (True))       # Output is same: False
print(not (not True))   # Output: True

True
False
False
False
True
True
True
False
False
True
False
True